{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block link %}{% endblock %}
</head>
<body>

{% include "components/usr_navbar.html" %}

{% block content %}

{% endblock %}
{% include "components/usr_footer.html" %}
<script src="{% static 'js/components.js' %}"></script>
</body>
</html>

